.title-conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 1em
}

.main-conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
}

#conteiner1 , #conteiner2 , #conteiner3 , #conteiner4 , #conteiner5 , #conteiner6 , #conteiner7 , #conteiner8 , #conteiner9{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#conteiner1{
    width: 250px;
    height: 250px;
    border-right: solid 5px #000;
    border-bottom: solid 5px #000;
}
#conteiner2{
    width: 250px;
    height: 250px;
    border-left: solid 5px #000;
    border-bottom: solid 5px #000;
    border-right: solid 5px #000;
}
#conteiner3{
    width: 250px;
    height: 250px;
    border-left: solid 5px #000;
    border-bottom: solid 5px #000;
}
#conteiner4{
    width: 250px;
    height: 250px;
    border-right: solid 5px #000;
    border-bottom: solid 5px #000;
    border-top: solid 5px #000;
}
#conteiner5{
    width: 250px;
    height: 250px;
    border: solid 5px #000;
}
#conteiner6{
    width: 250px;
    height: 250px;
    border-left: solid 5px #000;
    border-bottom: solid 5px #000;
    border-top: solid 5px #000;
}
#conteiner7{
    width: 250px;
    height: 250px;
    border-right: solid 5px #000;
    border-top: solid 5px #000;
}
#conteiner8{
    width: 250px;
    height: 250px;
    border-left: solid 5px #000;
    border-top: solid 5px #000;
    border-right: solid 5px #000;
}
#conteiner9{
    width: 250px;
    height: 250px;
    border-left: solid 5px #000;
    border-top: solid 5px #000;
}

.xPart{
    position:relative;
}

.xPart:before,.xPart:after{
    content:'';
    position:absolute;
    width:250px;
    height:10px;
    background-color:#000;
    border-radius:2px;
    top: 5px;
}

.xPart:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    left:-120px;
}
.xPart:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:-120px;
}

.oPart{
    width:200px;
    height:200px;
    border-radius:50%;
    border: solid 10px #000;
    overflow:hidden;
}

.winLine1{
    position: relative;
}

.winLine1:after{
    content:'';
    position:absolute;
    width:310px;
    height:10px;
    background-color:#f00f;
    border-radius:2px;
    top: 150px;
}

.winLine2{
    position: relative;
}

.winLine2:after{
    content:'';
    position:absolute;
    width:10px;
    height:320px;
    background-color:#f00f;
    border-radius:2px;
    top: 0px;
}

.winLine3{
    position: relative;
}

.winLine3:after{
    content:'';
    position:absolute;
    width:450px;
    height:10px;
    background-color:#f00f;
    border-radius:2px;
    top: 150px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
    right:-70px;
}

.winLine4{
    position: relative;
}

.winLine4:after{
    content:'';
    position:absolute;
    width:450px;
    height:10px;
    background-color:#f00f;
    border-radius:2px;
    top: 150px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
    right:-80px;
}

#btnRetry{
    content: 'Jugar de nuevo';
    height: 3em;
    font-weight: 500;
    font-size: 1em;
    width: 3em;
}

#main, #footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#footer{
    background-color: #000;
    margin-top: 5em;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    height: 100px;
}

#header{
    background-color: #000;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    height: 100px;
}

@media (min-width:2560px) {
    .main-conteiner{
    margin-left: 800px;
    margin-right: 800px;
    }
}

@media (max-width:1440px) {
    .main-conteiner{
    margin-left: 300px;
    margin-right: 300px;
    }
    #conteiner1, #conteiner2, #conteiner3, #conteiner4, #conteiner5, #conteiner6, #conteiner7, #conteiner8, #conteiner9{
        width: 200px;
        height: 200px;
    }
}
@media (max-width:1024px) {
    .main-conteiner{
    margin-left: 100px;
    margin-right: 100px;
    }
}
@media (max-width:768px) {
    .main-conteiner{
    margin-left: 0px;
    margin-right: 0px;
    }
    #conteiner1, #conteiner2, #conteiner3, #conteiner4, #conteiner5, #conteiner6, #conteiner7, #conteiner8, #conteiner9{
        width: 200px;
        height: 200px;
    }
}